:root{
    /* textarea */
    --1: #a6cdaa;
    /* botões geral form  retangulo  */
    --2: #52d364;
    /* botões geral form  retangulo  hover */
    --3: #84c35f;
    --4: #4e4e4c;;
    --5: #f6f1f5;
    --6: #5f67d1;
  }
  
  .person {
      padding:5px;
      display: inline-block;
      flex-direction: column;
      align-items: center;
    }
    
    .person img {
      width: 180px;
      height: 180px;
      border-radius: 10%;
      object-fit: cover;
    }
    .denuncias textarea{
        overflow: hidden;
        resize: none;
        font-family: 'Poppins', Courier, monospace;
        font-size: 15px;
        border: none;
        outline: none;
        position: relative;
        width: 200px;
        height: 80px;
        background: rgba(36, 160, 222, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        text-align: center;
    }