:root{
  /* textarea */
  --1: #a6cdaa;
  /* botões geral form  retangulo  */
  --2: #52d364;
  /* botões geral form  retangulo  hover */
  --3: #84c35f;
  --4: #3b64af;
  --5: #b1309e;
  --6: #5f67d1;
}
.person {
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .person img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0px;
  }
  
  .person h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .person p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .person a img{
    margin: 10px;
    width: 30px;
    height: 30px;
}
  .speech-bubble {
    width: 300px;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: var(--1);
    border-radius: 10px;
    padding: 10px 20px;
  }